<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>rules</title>
  </head>
  <body>
    <h1>Rules</h1>

    <p>
      On them main page <a href="/">/</a> you need to select file that you wish
      to upload on hosting, then click submit, after successful upload you will
      be redirected on the page with details about file that was uploaded
    </p>

    <a href="/">Upload another photo</a>
    <a href="/about">About Author</a>
  </body>
</html>
